<!DOCTYPE html>
<html>
<head>
    <title>Contractor App</title>
</head>
<body>
    <nav>
        {% if session.user_id %}
            <a href="/dashboard">Dashboard</a> |

            {% if session.role == 'contractor' %}
                <a href="/companies">View and Manage Companies</a> |
            {% else %}
                <a href="/companies">View Companies</a> |
            {% endif %}

            <a href="/contractors">See all Contractors (Info and Ratings)</a> |
            <a href="/profile/edit">Edit Profile</a> |
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a> |
            <a href="/help">Help</a> |
            <a href="/register">Register</a> |
            <a href="/forgot">Forgot Password</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
