{% extends "base.html" %}
{% block content %}
<h2>Companies</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Service Type</th>
        <th>Location</th>
        <th>Jobs</th>
    </tr>
    {% for c in companies %}
        <tr>
            <td>{{ c.companyID }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.serviceType }}</td>
            <td>{{ c.location }}</td>
            <td><a href="/companies/{{ c.companyID }}/jobs">View Associated Jobs</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}