{% extends "base.html" %}
{% block content %}
<h1>Edit Contractor Profile</h1>
<form method="post">
    <p><label>First name:</label><br><input name="firstName" required value="{{ profile['firstName'] }}"></p>
    <p><label>Last name:</label><br><input name="lastName" required value="{{ profile['lastName'] }}"></p>
    <p><label>Service:</label><br><input name="service" value="{{ profile['service'] }}"></p>
    <p><label>City:</label><br><input name="city" value="{{ profile['city'] }}"></p>
    <p><label>State (2 chars):</label><br><input name="state" value="{{ profile['state'] }}"></p>
    <p><button type="submit">Save Profile</button></p>
</form>
{% endblock %}
